/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/03/2018, 10:34:34 AM
    Author     : Familia
*/




#colunimg{
    background-color: #d5d8dc;
}


#producSelecc2{
    width: 366px;
    height: 263px;
    
    
    
}