/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-abr-2018, 11:46:37
    Author     : felipe
*/


.classmid{
    align-items: center;
    background-color:  #F8F9F9
}


.rowcont  h2{
    width: 100%;
    align-self: center;
}


.colvisio{
    
    
}

.colvisio > p{
    float: right;
}

#imagenVision {
    width: 600px;
    height:  150px;
}

#imagenMision{
    width: 600px;
    height:  150px;
}