/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-abr-2018, 16:24:09
    Author     : felipe
*/
#nombrePan{
        font-family: cambria;
	font-size: 20px;
	color:#808B90;
}

.colPri{
    font-family: cambria;
    color: #808B90;
}

#PCcard2{
    background-color:#37de4e;
    
}

