header,section,fooster,nav,hgroup,article,figure,figcaption,aside{
	display: block;
}
html{
	min-height:100%;
	position: relative; 
}
body{
	text-align: center;
}
*{
	margin: 0px;
	padding: 0px;
}

h1{
	font-family: cambria;
	font-size:30 px;
	color:#F8F9F9;
}

#agrupado{
	margin: 0px;
	text-align: left;
}

#cabezera{
	background:#808B90;
	padding: 20px;
}

#navbar{
	background:#808B90;
	padding: 5px 15px;	
}

#navbar li{
	display: inline-block;
	list-style: none;
	padding: 5px;
}

#navbar ul{
	text-align: center;
}



#navbar #submen{
    display: none;
    position: absolute;
}




#navbar li > a{
	font-family: cambria;
	font-size: 18px;
	color:#F9F9F9;
}

#navbar li:hover{
	background-color:#d5d8dc;
}


#navbar ul li:hover > #submen{
    display: block;
}

#BloquSeg{
	width:10%;
	
	
}
#BloquTer{
	width:10%;
	margin-left:90%;
}

#imagenFondo{
	width:100%;
}



#BloquPrincipal{
	width: 80%;
	background:#d5d8dc; 
	margin-left: 10%;
	margin-right:10%;
}

#pieP{
	bottom: 0px;
	clear: both;
	background:#F8F9F9;
	position:absolute;
	width: 100%;
	padding: 5px;
}

#pieP li > a{
	font-family: cambria;
	font-size: 13px;
	color:#638237;
}
#pieP li > a:hover{
	background-color: #d5d8dc;
}

#separador{
	size:4px;
	color:#808B90;
	width:100%;
}


#linker{
	float:left;
	padding:10px;
	margin-left:5px;
}
#linker ul{
	list-style-type:none;
}

#mrInfo{
	float:right;
}
#boxPie{
	width:100%;
	display: inline-block;	
}

#boxPie p{
	font-family:cambria;
	font-size: 12px;
	color:#638237;
	
}



